section#orders-assistance {
    position: relative;
    
    & > * {
        margin-bottom: 60px;
    }

    .images {
        margin-left: 200px;
        position: absolute;
        display: flex;
        // border: 1px solid black;
        align-items: center;
        & > img {
            width: 500px
        }
        .bubble {
            position: relative;
            transform: translate(-200px, -150px);
            // border: 2px solid black;
            img {
                width: 300px;
            }
            p {
                position: absolute;
                width: 150px;
                text-align: center;
                font-size: 24px;
                top: 43%; left: 53%;
                transform: translate(-50%,-50%)
            }
        }
    }

    .steps {
        display: grid;
        justify-items: end;
        margin-right: 300px;
        .question {
            // background-color: red;            
            display: grid;
            justify-items: end;
            margin-bottom: 30px;
            h2 {
                font-size: 72px;
                width: 500px;
                text-align: right;
                margin-bottom: 30px;
                line-height: 1;
            }
            p {
                color: #A8C2C0;
                font-size: 30px;
            }
        }
        .steps-content {
            display: flex;
            gap: 10px;

            .step {
                background-color: #E0FAF8;
                border-radius: 40px;
                box-sizing: border-box;
                padding: 15px 30px;
                width: 250px;
                height: 250px;
                p {
                    font-size: 24px;
                }
                p:first-child {
                    font-size: 42px; 
                    color: #43D4C8; 
                    margin-bottom: 20px; 
                    text-decoration: underline;
                }
                
            }
        }
    }
}